<%- include('partials/p1.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/show.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    

    <div id="blog">
        <h1><%= data.title %></h1>
        <br> 
        <img src="<%= data.image %>" >
        <h3>By -<%=data.author %></h2>
            <%=data.content %>
        <br>
        <br>
        <button type="button" class="btn btn-primary"> <a href="/blog/<%=data.id%>/edit">Edit</a></button>

        <form method="POST" action="/blog/<%= data.id %>?_method=DELETE">       
        <button type="submit" class="btn btn-danger">Delete</button>
        </form>

    </div>

</body>
</html>