<%- include('partials/p1.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/show.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    

    <div id="blog">
        <h1><%= data.title %></h1>
        <br>

        <div id="img-cont">
            <div>
            <img src="<%= data.image %>" alt="image"> 
            </div>           
        </div>

        <h4 id="author">-<%= data.author %></h2>
                
        <p id="content"><%= data.content %></p>

<% if (isAdmin) { %>
        <button type="button" class="btn btn-primary"> <a href="/blog/<%=data.id%>/edit">Edit</a></button>
        <form method="POST" action="/blog/<%= data.id %>?_method=DELETE">       
        <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <% } %>
        <form method="POST" action="/blog/<%= data.id %>?_method=PUT">
        <div class="mb-3" >
            <label  class="form-label" for="comment">Add a comment</label>
            <textarea rows="3" class="form-control" name="comment"> </textarea>
            <br>
            <button class="btn btn-primary" type = submit > Submit</button>
            <div id="comment-section">
                <%for(let i of comment){%>
                    <div id="comment">
                        <div id="user-cont">
                            <%= i.user %> &nbsp; (<%= i.email %>) said - 
                        </div>
                        <div id="comment-body">
                            <%= i.body %>
                        </div>
                    </div>
                    <hr>



                <%}%>
            </div>
            </div>
        </form>

    </div>

</body>
</html>