<%- include('partials/p1.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/show.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    

    <div id="blog">
        <h1><%= data.title %></h1>
        <br>

        <div id="img-cont">
            <div>
            <img src="<%= data.image %>" alt="image"> 
            </div>           
        </div>

        <h4 id="author">-<%= data.author %></h2>
                
        <p id="content"><%= data.content %></p>

<% if (isAdmin) { %>
        <button type="button" class="btn btn-primary"> <a href="/blog/<%=data.id%>/edit">Edit</a></button>
        <form method="POST" action="/blog/<%= data.id %>?_method=DELETE">       
        <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <% } %>

                <hr style="margin-top:6vh">

        <form method="POST" action="/blog/<%= data.id %>?_method=PUT">
            <div id="comment-create-cont">

                <div id="avatar-cont">
                    <div id="avatar"></div>
                </div>
            <div class="mb-3" id="input-cont">
            <textarea rows="2" class="form-control" name="comment" placeholder="Add a Comment"></textarea>
            <br>

            <button class="btn btn-primary" type = submit > Submit</button>
            </div>
        </div>
        <hr>
        </form>
            
        <div id="comment-section">
              
            <%for(let i of comment){%>
                <div id="comm-display-cont">

                        <div>
                            <div id="avatar"></div>
                        </div>
                        <div>
                            <div id="comment"> 
                            <div id="user-cont">
                            <h5><%= i.username %></h5>
                            <span id="time-cont">&nbsp;.&nbsp;<%= i.date  %> </span>
                        </div>
                            <div id="comment-body">
                            <span><%= i.body %></span>
                        </div>
                    
                  <% if (userID == i.userID) { %>
                
                        <div style="display: none;"><button class="btn"><a href="" class="blacklinks">Edit</a> </button> </div>
                        &nbsp;
                        .
                        &nbsp;
                        <form method="POST" action="/blog/comment/<%= data.id %>?_method=DELETE">
                            <div style="display:none;"><input type="text" value=<%= i._id %> name="commID"> </div>   
                            <button type="submit"  class="btn blacklinks">Delete</button>
                        </form>
                        <% } %>
                    </div>
                    
                </div>
            
            </div>
            <hr>
            <%}%>
        </div>
    
    </div>

</body>
</html>